<header>
    <nav>
        <LinkTo @route="index">Home</LinkTo>
        <LinkTo @route="products">Products</LinkTo>
        <LinkTo @route="checkout">Checkout</LinkTo>
    </nav>
</header>

<h1>Hello world!</h1>

<main>
{{outlet}}
</main>
